.wrapper {
  width: 378px;
  height: 600px;
  padding: 10px;
  border-radius: 10px;
  background-color: grey;
  background-image: linear-gradient(315deg, grey 0%, orange 74%);
}

.screen {
  height: 100px;
  width: 100%;
  max-width: 400px;
  margin-bottom: 10px;
  padding: 0 10px;
  background-color: darkgrey;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: white;
  font-weight: bold;
  box-sizing: border-box;
}

.buttonBox {
  width: 100%;
  max-width: 400px;
  height: calc(100% - 110px);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 10px;
}

button {
  border: none;
  background-color:darkgoldenrod;
  font-size: 24px;
  color:white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  outline: none;
}

button:hover {
  background-color: darkorange;
}

.equals {
  grid-column: 3/5;
  background-color: brown;
}

.equals:hover {
  background-color: crimson;
}